{% extends 'base.html' %}

{% block content %}
<div class="contact">
            <h1>Contact</h1>
  <h2>Meet our team</h2>
            <p>Prove that you have real people working for you, with some nice looking profile pictures and links to social media.
            </p>
          
         </div>

    <div class="col-12 col-md-6">
      <div class="container d-flex h-100">
        <div class="row align-self-center">
          <div class="card-body">
      <h3 class="card-title">Danseur étoile</h3>
      <p>Sur la proposition d’Aurélie Dupont, Directrice de la Danse, Stéphane Lissner, Directeur de l’Opéra national de Paris, a nommé Germain Louvet Danseur Étoile de l’Opéra national de Paris, à l’issue de la représentation du ballet Le Lac des cygnes (Rudolf Noureev) dans lequel il interprétait le rôle du ‘Prince Siegfried’ sur la scène de l’Opéra Bastille, le 28 décembre 2016.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Continuer</a>
        </div>
</div>
        </div>  
      </div>
</div>
  </div>
 </div>
 {% endblock %}