{% extends 'base.html' %}

{% block content %}

  
      
      <section id="hero">
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://wallpapers.com/images/high/contemporary-dance-art-b9wd1i31ae804hj2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://wallpapers.com/images/high/dance-graphic-art-r2uvr1ojjt7wwui0.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://wallpapers.com/images/high/contemporary-dance-lady-2rsgjtkytultysia.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        <div class="info"></div>
      <div class="row">
       

        <h1>Le Studio Great Classic Dance</h1>
        <p>Le Studio Great Classic Dance est avant tout une école chaleureuse et conviviale qui offre une méthode d’enseignement à dimension humaine où le respect du corps tient la première place. Les cours de baby dance et d’éveil corporel débutent à partir de 2 ans et demi.</p>
        <a href="#">Découvrez nos cours</a>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="https://wallpapers.com/images/high/marilyn-monroe-dress-dance-ai7o4ln87gm6daek.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Marilyn Monroe Dress Dance</h2>
                  <p class="card-text">Minimalist Faceless Marilyn Monroe Caricature Wallpaper With Her Dress Doing Its Own Dance Over A Pitch Black Background.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://wallpapers.com/images/high/ballet-dance-on-the-street-bk0miq8gb70xlu7h.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Ballet Dance On The Street</h2>
                  <p class="card-text">Lovely And Captivating Photograph Of A Lady Doing A Ballet Dance In The Middle Of The Street.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://wallpapers.com/images/high/beauty-and-the-beast-dance-4w7s2iisuom168nr.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Beauty And The Beast Dance</h2>
                  <p class="card-text">A Truly Majestic Image Of Emma Watson And Dan Stevens As Beauty And The Beast During Their Dance Scene In The Film Of The Same Title.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="https://wallpapers.com/images/high/black-widow-dance-art-rmrtf5ezhecb21qt.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Black Widow Dance Art</h2>
                  <p class="card-text">A Fictional Dance Artwork Featuring Marvel’s Black Widow In Ballerina Pose While Wearing Her Black Costume Inside A Dark Room.</p>
                </div>
              </div>
            </div>
          </div>
</div>
</div>
</section>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Nllc4nwJZk8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <footer>
  <!-- Add font awesome icons -->
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-instagram"></a>
<h6>&copy; Copyright 2022 greatclassicdance.com</h6>

</footer>
  <script src="script.js"></script>
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> {% endblock %}