{% extends "base.html" %}

{% block content %}

<div class="equipe">
  <div class="container">
    <h2>Notre équipe</h2>

    <div class="rowtop">
      <div class="row">


        <div class="col-12 col-md-6">
          <div class="carte">
            <img src="https://wallpapers.com/images/high/black-beret-hat-beyonce-ok38pdtjjre26qdc.jpg" class="img-responsive" width="100%">
            <div class="carte-texte">
              <h4>Beyonce Knowles</h4>
              <p>CEO</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="carte">
            <img src="https://wallpapers.com/images/high/johnny-depp-2018-tjjxw1h8lyh8bupl.jpg" class="img-responsive" width="100%">
            <div class="carte-texte">
              <h4>Johnny Depp</h4>
              <p>Art Director</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rowbottom">
      <div class="row">

        <div class="col-12 col-md-6">
          <div class="carte">
            <img src="https://wallpapers.com/images/high/girl-portrait-art-k0o0nvpt4de8wcox.jpg" class="img-responsive" width="100%">

            <div class="carte-texte">
              <h4>Ines Brown</h4>

              <p>Coach</p
            </div>
          </div>
        </div>


        <div class="col-12 col-md-6">
          <div class="carte">
            <img src="https://wallpapers.com/images/high/naomi-osaka-wearing-adidas-s6f3hwuq2git4gfw.jpg" class="img-responsive" width="100%">
            <div class="carte-texte">
              <h4>Naomi</h4>
              <p>Creative Director</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
